[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-weather = "*"
quart = "*"
requests = "*"
gunicorn = "*"
hypercorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
