<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Right Now</title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <h1>Weather Right Now</h1>
    <h2>Search Weather by City Name</h2>
    <form name="test" action="/search" method="post">
        <input type="text" name="city">
        <button type="submit">submit</button>
    </form>
    <br><br>
    <p> Lattitute: <span id="lat"></span>°</p>
    <p> Longitute: <span id="lon"></span>°</p>
    <p> Temparature: <span id="tmp"></span>° Celcius</p>
    <p> Feels Like: <span id="fls"></span>° Celcius</p>
    <p> Humidity: <span id='hum'></span>%</p>
    <p> Clouds: <span id='cls'></span>%</p>
    <p> Current Situation of the Weather: <span id="weather"></span></p>
    <p> Description: <span id='des'></span></p>
    <script type="text/javascript">
      geolocate();
    </script>
</body>
</html>
